{#  articles_panier  : tableau de dictionnaires
        * dictionnaire : nom quantite prix article_id [stock]
        *
#}
{% block title %}
    <title>Accueil</title>
{% endblock %}

{% extends "client/layout_client.html" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
        {% include('client/boutique/_panier.html') %}
            <div class="col mt-5">
              <h2 class="text-dark">Les filtres</h2>
              Articles dont le nom est composé par :<br>
                 {% include('client/boutique/_filtre.html') %}
            </div>
        </div>

        <div class="pt-5">
            <h1>Les meubles</h1>
        </div>

        <div class="row gap-3">
                {% for meuble in meubles  %}
                        <div class="card col-12 col-md-3 mt-2 shadow">
                            <div class="card-body border-dark rounded p-2">
                                <a href="/client/article/details?id_article={{ meuble.id_meuble }}" >
                                <h3 class="card-title">
                                    <span class="text-dark">{{ meuble.nom }}</span><br>
                                </h3>
                                <h4>{{ meuble.prix }} €</h4>
                                     {%  if meuble.image is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:150px;height:100px"  src="{{ url_for('static', filename = 'images/')}}{{ meuble.image }}"  alt="image  de {{ meuble.nom }}" >
                                    {% else %} <img class="card-img-top rounded mx-auto d-block w-100"   style="width:150px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ meuble.nom }}" >
                                    {% endif %}
                                    <hr>
                                </a>
                                <div class="row">
{# #}                                {% if  meuble.stock is defined and meuble.stock != None %}
{# #}                                    {% if meuble.stock > 0 %}
                                        <form  action="/client/panier/add"  method="post" class="col-5">
                                            <input type="hidden" name="id_article" value="{{ meuble.id_meuble }}">
                                            <div class="input-group">
                                            <button class="btn  btn-success"  id="button-addon1">
                                                Ajouter
                                            </button>
                                            <input type="number" id="input-{{ meuble.id_meuble }}" step="1" min="0" max="{{ meuble.stock }}" class="form-control" value="1" name="quantite"  aria-describedby="button-addon1">
                                            </div>
                                        </form>
{# #}                                    {% endif %}
{# #}                                {% endif %}
                                     <div class="col-2 align-content-end">
                                    {% if meuble.liste_envie is defined %}
                                         {%if  meuble.liste_envie== 1%}
                                             <a href="/client/envie/add?id_article={{ meuble.id_meuble}}" style="text-decoration: none">💛</a>
                                         {% else %}
                                             <a href="/client/envie/add?id_article={{ meuble.id_meuble }}" style="text-decoration: none">🤍</a>
                                         {% endif %}
                                    {% endif %}
                                     </div>
                                </div>
                            </div>
                            <div class="card-footer py-2">
                            {% if meuble.stock is defined and meuble.stock != None %}
                                 {% if meuble.stock > 0 %}
                                    <small class="text-muted">Stock restant : {{ meuble.stock }}</small>
                                 {% else %}
                                    <small class="text-muted">meuble  momentanément indisponible</small>
                                 {% endif %}
                                {% if meuble.nb_declinaison is defined and meuble.nb_declinaison != None %}
                                    ({{ meuble.nb_declinaison }} d.)
                                {% endif %}
                                <br>
                            {% endif %}
                            {% if meuble.nb_notes is defined %}
                                {% if meuble.nb_notes > 0 %}
                                 <a  href="/client/article/details?id_article={{ meuble.id_meuble}}" >
                                    <span style="color: #3A7734"> note : {{  "{:,.1f}".format(meuble.moy_notes) }}({{ meuble.nb_notes }})</span>
                                 </a>
                                {% endif %}
                            {% endif %}
                            {% if meuble.nb_avis is defined %}
                                {% if meuble.nb_avis > 0 %}
                                 <a href="/client/article/details?id_article={{ meuble.id_meuble }}" >
                                    <span style="color: #3A7734">({{ meuble.nb_avis }} avis)</span>
                                 </a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{#    {{ articles | pprint }}#}
{% endblock %}