{% extends 'admin/layout_admin.html' %}

{% block javascripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block title %}
    <title>Notes moyennes des meubles</title>
{% endblock %}

{% block body %}
<div style="width: 900px; height: 500px; border: #0a53be 1px solid;">
    <canvas id="averageNotesChart"></canvas>
</div>

<script>
var ctx = document.getElementById("averageNotesChart").getContext("2d");
var averageNotesChart = new Chart(ctx, {
    type: "bar",
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label: "Moyenne des notes",
            data: {{ values | safe }},
            backgroundColor: "#3e95cd"
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        title: {
            display: true,
            text: "Notes moyennes des meubles"
        }
    }
});
</script>
{% endblock %}
